prod:
  NOTIFICATION_ARN: 'set_up_sns_topic'
  AWS_ACCOUNT_ID: 'your_account_id'
  ACCESS_KEY_NAME: 'key_name'
  ACCESS_NETWORK: 'CIDR'
  TEMPLATE_URL: 'copy_of_template_in_same_region_specified_in_serverless.yml'
  BUTTON: 'iotbutton/serial_number'
